<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- starts by zero <add key="4G TA MRs 1st field, Huawei" value="8" /> -->
		<add key="Directory path" value="S:\KML\" />
		<add key="Data Source" value="127.0.0.1" />
		<add key="User ID" value="user" />
		<add key="Password" value="password" />
		<add key="Initial_Catalog" value="KML_Files" />
		<add key="MRs Fraction threshold percent" value="5" />
		<add key="General Information File name" value="General" />
		<add key="General Information Select Query 2G" value="SELECT * FROM [Report].[V_Report_KML_Cell_Info] WHERE GENERATION='2' order by bts_name, cell" />
		<add key="General Information Select Query 3G" value="SELECT * FROM [Report].[V_Report_KML_Cell_Info] WHERE GENERATION='3' order by bts_name, cell" />
		<add key="General Information Select Query 4G" value="SELECT * FROM [Report].[V_Report_KML_Cell_Info] WHERE GENERATION='4' order by bts_name, cell" />

		<add key="2G TA granularity" value="550" />
		<add key="2G TA MRs 1st field, Huawei" value="9" />
		<add key="2G TA MRs 1st field, ZTE" value="10" />
		<add key="Huawei 2G TA Counters number" value="40" />
		<add key="South Huawei 2G File name" value="2G_TA_Huawei_South.kml" />
		<add key="South Huawei 2G RLF File name" value="2G_TA_Hua_RLF_South.kml" />
		<add key="South Huawei 2G TA Max File name" value="Max_2G_TA_Huawei_South.kml" />
		<add key="South Huawei Select Query 2G" value="SELECT * FROM [Report].[V_Report_KML_Hua_2G_TA_1day_South] order by district, cell_name" />
		<add key="South Huawei 2G RLF Select Query" value="SELECT * FROM [Report].[V_Report_KML_Hua_2G_RLF_1day_South] order by district, cell_name" />
		<add key="North Huawei 2G File name" value="2G_TA_Huawei_North.kml" />
		<add key="North Huawei 2G RLF File name" value="2G_TA_Hua_RLF_North.kml" />
		<add key="North Huawei 2G TA Max File name" value="Max_2G_TA_Huawei_North.kml" />
		<add key="North Huawei Select Query 2G" value="SELECT * FROM [Report].[V_Report_KML_Hua_2G_TA_1day_North] order by district, cell_name" />
		<add key="North Huawei 2G RLF Select Query" value="SELECT * FROM [Report].[V_Report_KML_Hua_2G_RLF_1day_North] order by district, cell_name" />
		<add key="ZTE 2G TA Counters number" value="33" />
		<add key="South ZTE 2G File name" value="2G_TA_ZTE_South.kml" />
		<add key="South ZTE 2G TA Max File name" value="Max_2G_TA_ZTE_South.kml" />
		<add key="South ZTE Select Query 2G" value="SELECT * FROM [Report].[V_Report_KML_Zte_2G_TA_1day_South] order by district, cell_name" />
		<add key="North ZTE 2G File name" value="2G_TA_ZTE_North.kml" />
		<add key="North ZTE 2G TA Max File name" value="Max_2G_TA_ZTE_North.kml" />
		<add key="North ZTE Select Query 2G" value="SELECT * FROM [Report].[V_Report_KML_Zte_2G_TA_1day_North] order by district, cell_name" />
		<!-- <add key="Select Query 2G" value="SELECT * FROM REPORT.MV_TA_1Day WHERE cell_name like '12mkr%' or cell_name like '13mkr_dcs%' order by district, cell_name" /> -->

		<add key="3G TP granularity" value="234" />
		<add key="3G TP MRs 1st field, Huawei" value="9" />
		<add key="3G TP MRs 1st field, ZTE" value="10" />
		<add key="Huawei 3G TP Counters number" value="12" />
		<add key="South Huawei 3G File name" value="3G_TP_Huawei_South.kml" />
		<add key="South Huawei 3G TP Max File name" value="Max_3G_TP_Huawei_South.kml" />
		<add key="South Huawei Select Query 3G" value="SELECT * FROM [Report].[V_Report_KML_Hua_3G_TP_1day_South] order by district, cell_name" />
		<add key="North Huawei 3G File name" value="3G_TP_Huawei_North.kml" />
		<add key="North Huawei 3G TP Max File name" value="Max_3G_TP_Huawei_North.kml" />
		<add key="North Huawei Select Query 3G" value="SELECT * FROM [Report].[V_Report_KML_Hua_3G_TP_1day_North] order by district, cell_name" />
		<add key="ZTE 3G TP Counters number" value="39" />
		<add key="South ZTE 3G File name" value="3G_TP_ZTE_South.kml" />
		<add key="South ZTE 3G TP Max File name" value="Max_3G_TP_ZTE_South.kml" />
		<add key="South ZTE Select Query 3G" value="SELECT * FROM [Report].[V_Report_KML_Zte_3G_TP_1day_South] order by district, cell_name" />
		<add key="North ZTE 3G File name" value="3G_TP_ZTE_North.kml" />
		<add key="North ZTE 3G TP Max File name" value="Max_3G_TP_ZTE_North.kml" />
		<add key="North ZTE Select Query 3G" value="SELECT * FROM [Report].[V_Report_KML_Zte_3G_TP_1day_North] order by district, cell_name" />
		<!-- <add key="Select Query 3G" value="SELECT * FROM REPORT.MV_3G_TP_1DAY WHERE cell_name like '12mkr%' order by district, cell_name" /> -->

		<add key="4G TA granularity" value="156" />
		<add key="4G TA MRs 1st field, Huawei" value="8" />
		<add key="Huawei 4G TA Counters number" value="12" />
		<add key="South Huawei 4G File name" value="4G_TA_Huawei_South.kml" />
		<add key="South Huawei 4G TP Max File name" value="Max_4G_TA_Huawei_South.kml" />
		<add key="South Huawei Select Query 4G" value="SELECT * FROM [Report].[V_Report_KML_Hua_4G_TA_1day_South] order by district, cell_name" />
		<add key="North Huawei 4G File name" value="4G_TA_Huawei_North.kml" />
		<add key="North Huawei 4G TP Max File name" value="Max_4G_TA_Huawei_North.kml" />
		<add key="North Huawei Select Query 4G" value="SELECT * FROM [Report].[V_Report_KML_Hua_4G_TA_1day_North] order by district, cell_name" />

	</appSettings>
</configuration>